@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(47, 0, 255);
    color: white;
    height: 35px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
}
nav ul{
    list-style-type: none;
}

.gamecontainer{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows:repeat(3, 10vw) ;
    font-family: 'Roboto', sans-serif;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: black;
}
.box:hover{
    background-color: rgb(240, 238, 252);
    /* border: 2px solid black;
    font-size: 8vw;
    cursor: pointer; */
    /* opacity: 0.5; */
}

.gameinfo{
    padding: 34px;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

#reset{
    margin-top: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #2f00ff;
    color: white;
    border-radius: 7px;
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}